<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fifteen.webproject.mapper.user.UserMapper">

    <select id="getStudentByAccount" parameterType="java.lang.String" resultType="com.fifteen.webproject.bean.entity.User">
        SELECT id,account,name,password FROM user WHERE account = #{account}
    </select>
</mapper>